* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: regular!important;
}

.topSection {
    background-color: #047AED;
    color: white;
    padding-bottom: 50px;
}

a {
    color: white!important;
    text-decoration: none!important;
}

.container {
    margin: 0 13.78%;
    padding: 0 2.62%;
}

.topNavbar {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70px;
}

.titleDiv h1 {
    font-size: 30px;
}

.ulStyle {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.liStyle {
    padding: 15px;
}

/* topSection->topNavbar(titleDiv and linkDiv) */

/* start infosection */

.infoSection {
    display: flex;
}

.textInfo {
    width: 56%;
    margin-top: 150px;
    padding: 0px;
}

.formInfo {
    width: 36%;
    margin-left: 7%;
    margin-top: 95px;
    padding: 2.63%;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 45px;
    padding-top: 50px;
}

.inputField {
    width: 100%;
    margin-bottom: 0px;
    border-bottom: 1px solid #333333;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: black;
}

.submitBtn {
    width: 80px;
    height: 55px;
    font-size: 13px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    background-color: #047AED;
}

.formBtn {
    width: 27%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: red;
    margin-top: 20px;
}

/*end infosection */

/* start statsSection */

.stats {
    background-color: white;
}

.statsHeading {
    text-align: center;
    font-size: 18px;
    color: #333333;
    padding-top: 35px;
    width: 80%;
    margin: 0 auto;
}

.iconStyle {
    width: 17% !important;
    height: 48px;
    color: black;
}

.color333 {
    color: #333333;
    font-size: 35px;
}

.color1C3 {
    color: #1C3FA8;
    font-size: 20px;
}

/* end statsSection */

/* starts cliSection */

.cliSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 /span 2;
}

.cliImg img {
    width: 100%;
    color: white!important;
    background-color: white!important;
}

.cliImg {
    grid-column: 1 /span 2;
    width: 100%;
    height: 100%;
}

.cliText {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    width: 85%;
    margin: 0 auto;
}

.cliDesign {
    border-radius: 10px;
    box-shadow: 0px 3px 5px gray;
    padding: 10px;
    text-align: center;
}

/* end cliSection */

/* start cloudHosting */

.cloudHosting {
    background-color: #047AED;
    color: white;
}

.cloudImg img {
    width: 100%;
}

/* end cloudHosting */

/* start languageSection */

.languageSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.h3Language h3 {
    font-weight: bold;
    font-size: 28px;
    color: #333;
}

.language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.languagedisplay {
    text-align: center;
    margin: 17px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px gray;
    transition:transform 0.2s ease-in-out;
}
.languagedisplay:hover{
    transform:translate(0px ,-10px);
}

.languagedisplay img {
    width: 80px;
    height: 78px;
}

/* end languageSection */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 17%;
    background-color: #002240;
    height: 160px;
    padding-top: 40px;
    color: white;
}

.pagerenderUl li {
    width: 100%;
    list-style-type: none;
}

.link .iconbottom {
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

.iconbottom {
    font-size: 50px;
}

/* option code section only handling for less than 300px; */


/* extra section */

.infoSection:hover{
    animation:slidein 5s ease-in-out 0.2s;
}
/* extra section */

@media only screen and (min-device-width: 200px) and (max-device-width: 295px) {
    .liStyle {
        padding: 2px;
        font-size: 12px;
    }
    .titleDiv h1 {
        font-size: 14px;
    }
    .infoSection {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        padding: 0 10%;
        justify-items: center;
        align-items: center;
    }
    .textInfo {
        width: 90%;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .formInfo {
        width: 90%;
        padding: 20px;
        margin-left: 0;
        margin-top: 0px;
    }
    .submitBtn {
        width: 45%;
    }
    .statsHeading {
        width: 90%;
        margin: 0 auto;
    }
    /* infosection */
    .statsDetails {
        display: grid;
        grid-template-rows: repeat(3, 1fr)!important;
        text-align: center;
    }
    .statsHeading h1 {
        font-size: 12px;
        font-weight: bold;
        color: #333333;
    }
    .color1C3 {
        font-size: 18px;
        padding-bottom: 20px;
    }
    .color333 {
        font-size: 22px;
    }
    /* end stats section */
    /* start cliSection */
    .cliSection {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 15px;
    }
    .cliText {
        grid-template-columns: repeat(1, 1fr);
        width: 85%;
        margin: 0 auto;
    }
    .cliDesign h2 {
        font-size: 15px!important;
        font-weight: regular;
    }
    /* end cliSection */
    .link {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .h3Language h3 {
        text-align: center;
    }
}

/* option code section only handling for less than 300px; */

@media only screen and (min-device-width: 296px) and (max-device-width: 765px) {
    .liStyle{ padding:0px;}
    .ulStyle {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 16px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        height:50px;
        width:70%;
        text-align:center;
        margin:0 auto;
    }
    .titleDiv h1 {
        font-size: 23px;
    }
    .textInfo {
        margin-top: 30px;
    }
    .topNavbar {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 60px;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    .infoSection {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        padding: 0 15%;
        justify-items: center;
        align-items: center;
    }
    .textInfo {
        width: 80%;
        height: 210px!important;
        margin-top: 20px;
    }
    .formInfo {
        width: 80%;
        margin-top: 0px;
    }
    .submitBtn {
        width: 30%;
    }
    /* infosection */
    .statsDetails {
        display: grid;
        grid-template-columns: repeat(3, 1fr)!important;
        text-align: center;
    }
    .statsHeading h1 {
        font-size: 16px;
    }
    .color1C3 {
        font-size: 15px;
        padding-bottom: 20px;
    }
    .color333 {
        font-size: 17px;
    }
    /* end statsSection */
    /* start cliSection */
    .cliSection {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 25px;
    }
    .cliDesign h2 {
        font-size: 15px;
        font-weight: regular;
    }
    .cliSection {
        font-size: 18px!important;
        font-weight: normal!important;
    }
    /* end cliSection */
    /* start cloudHosting */
    .cloudHosting {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .cloudText h2 {
        font-size: 33px;
    }
    .cloudText p {
        font-size: 18px;
    }
    .readBtn {
        width: 80px;
        font-weight: bold;
        font-size: 11px;
        height: 45px;
    }
    /* end cloudHosting */
}

@media (max-width:765px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 330px;
    }
    .copyright {
        margin: 0 auto;
        width: 80%;
    }
    .pagerenderUl {
        width: 80%;
        margin: 0 auto;
        padding-left: 0px;
    }
    .link {
        display: grid;
        grid-template-columns: repeat(4, 8%);
        grid-gap: 3px;
        width: 80%;
        margin: 0 auto;
    }
    .iconbottom {
        width: 50%;
    }
}

@media (min-width:765px) {
    .statsDetails {
        display: grid;
        grid-template-columns: repeat(3, 1fr)!important;
        text-align: center;
    }
    .statsHeading h1 {
        font-size: 20px;
    }
    /* start cloudHosting */
    .cloudHosting {
        padding: 0% 13%;
        display: flex;
    }
    .cloudText {
        width: 60%;
        margin-top: 30px;
        height: 190px;
    }
    .cloudImg {
        width: 40%;
        margin-top: 10px;
    }
    .cloudText h2 {
        font-size: 33px;
    }
    .cloudText p {
        font-size: 20px;
    }
    .readBtn {
        width: 95px;
        height: 50px;
        font-weight: bold;
    }
    /* end cloudHosting */
    .cliText {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
        margin: 0 auto;
        padding-bottom: 15px;
        height: 50%;
        width: 80%;
        height: 120px;
        margin-top: 15px;
    }
    .cliDesign h2 {
        font-size: 17px;
        font-weight: regular;
    }
    .cliSection {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .link {
        display: grid;
        grid-template-columns: repeat(4, 1fr)!important;
    }
}

@media (min-width:1000px) {
    /* start cloudHosting */
    .cloudSection {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .cloudText h2 {
        font-size: 35px;
        font-weight: regular;
    }
    .cliText {
        grid-gap: 20px;
    }
    .cliDesign {
        margin-top: 10px;
        padding-bottom: 25px;
    }
    .cliDesign h2 {
        font-size: 20px;
    }
    .cloudText p {
        font-size: 22px;
        font-weight: regular;
    }
    .readBtn {
        width: 20%;
        font-size: 16px;
        font-weight: bold;
    }
    /* end cloudHosting */
}